html, body {
    font-family: system-ui;
    padding: 0;
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

h1 {
	margin-top: 1.5rem;
    margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

h2 {
    margin-top: 1.5rem;
}

h3 {
    margin: 0;
    padding: 1rem;
}

input,
select {
    font-family: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul>li {
    margin-bottom: 1rem;
}

pre {
    text-wrap: wrap;
}

.parent-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main-section {
    height: 100vh;
    padding: 1rem;
    padding-right: 0;
}

.upper-section {
    display: flex;
    justify-content: space-around;
    height: 20rem;
}

.graph {
    height: 20rem;
    width: 20rem;
    background-color: #d1f3f9;
    border-radius: 1rem;
}

.lower-section {
    display: flex;
}

.status-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 1rem;
}

.status-item {
    width: 20ch;
}

.testing-section {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.testing-section > div {
    padding-inline: 1rem;
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-body>select,
input,
button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    padding-inline: 1rem;
}

.status-messages-container {
    height: calc(100vh - 2rem); /* 2rem for margin*/
    min-width: 20ch;
    margin: 1rem;
    border: clamp(2px, 0.3rem, 5px) solid black;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
}

.status-messages-container > h2 {
    margin: 0;
    border-bottom: clamp(2px, 0.3rem, 5px) solid black;
    padding: 1rem;
    text-align: center;
}

.status-messages-container > ul {
    flex-grow: 1;
    margin: 0;
    padding: 1rem;
    background-color: black;
    color: white;
    overflow-y: scroll;
}

.status-messages-bottom-bar {
	border-top: clamp(2px, 0.3rem, 5px) solid black;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
