Adafruit_Blinka==8.51.0
adafruit_circuitpython_bno055==5.4.18
adafruit_circuitpython_register==1.10.2
adafruit_circuitpython_busdevice==5.2.11
adafruit_circuitpython_gps==3.11.1
pigpio==1.78
pip==25.0
pyserial==3.5
setuptools==58.1.0
#smbus==1.1.post2
soundcard==0.4.2
pynmea2==1.19.0
fastapi==0.115.5
pydantic==2.9.2
uvicorn==0.32.0
websockets==14.1