Adafruit_BBIO==1.2.0
Adafruit_PureIO==1.1.11
Flask==3.0.3
mock==5.1.0
numpy==2.1.2
pigpio==1.78
pip==22.0.2
pynmea2==1.19.0
pyproj==3.4.1
pyrealsense2==2.55.1.6486
pyserial==3.5
setuptools==59.6.0
smbus==1.1.post2
spidev==3.6
# torch==2.5.1 used in depth cam but also 1GB so install when needed